/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TiltPrism';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/TiltPrism-Regular-VariableFont_XROT,YROT.ttf') format('truetype'),
    url('fonts/TiltPrism-Regular.ttf') format('truetype');
}
